@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700;900&family=Open+Sans:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

p {
  font-family: "Open Sans", sans-serif;
  letter-spacing: 0.4px;
  line-height: 1.4;
}

.footer-bg {
  background: #1d1d1d;
}

.wrap {
  color: rgb(216, 177, 132);
}

.wrap-bg {
  background-color: rgb(216, 177, 132);
}

.wrap-border {
  border-color: rgb(216, 177, 132);
}

.h-05 {
  height: 2px;
}

.gridarea {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "area2 area1";
}
.gridarea1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "area1 area2";
}

.area1 {
  grid-area: area1;
}

.area2 {
  grid-area: area2;
}

.vh50 {
  min-height: 600px;
}

.vh60 {
  min-height: 600px;
}

.hero {
  background: url("../assets/img/hero1.jpg");
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position-y: 50%;
}

.topbar {
  height: 40px;
}

@media screen and (max-width: 767px) {
  .gridarea,
  .gridarea1 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
      "area1"
      "area2";
  }

  .hero {
    background: url("../assets/img/hero1.jpg");
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: bottom center !important;
  }

  .vh50 {
    min-height: 50vh;
  }
}
